/*-------------------------------------
    全体
-------------------------------------*/
body {
    background: #fff;
}

.main {
    margin: auto;
    background: #fff;
}

/*-------------------------------------
    contact-search
-------------------------------------*/
.contact-search {
    max-width: 1183px;
    margin: auto;
}

.search-form {
    display: flex;
    justify-content: space-between;
}

.search-form__item--text {
    width: 347.47px;
    height: 50px;
    background: #f4f4f4;
    border: #e3ded9;
    padding-left: 20px;

    color: #8b7969;
    font-size: 17px;
}

.search-form__item--gender {
    width: 102.48px;
    height: 50px;
    background: #f4f4f4;
    border: #e3ded9;
    padding-left: 20px;

    color: #8b7969;
    font-size: 17px;
}

.search-form__item--category {
    width: 223.04px;
    height: 50px;
    background: #f4f4f4;
    border: #e3ded9;
    padding-left: 20px;

    color: #8b7969;
    font-size: 17px;
}

.search-form__item--date {
    width: 148.87px;
    height: 50px;
    background: #f4f4f4;
    border: #e3ded9;
    padding-left: 20px;

    color: #8b7969;
    font-size: 17px;
}

.search-form__submit-button {
    width: 102.48px;
    height: 50px;
    background: #8b7969;
    border: none;

    color: #fff;
    font-size: 18px;

    cursor: pointer;
}

.reset-form__submit a {
    display: inline-block;
    width: 102.48px;
    height: 50px;
    background: #d9c6b5;
    border: none;

    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

    cursor: pointer;
}

/*-------------------------------------
    control
-------------------------------------*/
.control {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1183px;
    margin: 37px auto;
}

.control__export {}

.control__export--button {
    width: 148px;
    height: 39px;
    background: #e1dbd6;
    border: none;
    cursor: pointer;

    color: #8b7969;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.control__pagination {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*-------------------------------------
    contacts-table
-------------------------------------*/
.contacts-table {
    margin: auto auto 100px auto;
    max-width: 1183px;
    width: 100%;
    table-layout: fixed;
}

.contacts-table * {
    border-collapse: collapse;
}

.contacts-table__row-header {
    height: 59px;
    background: #8B7969;
    color: #fff;
    font-size: 20px;
    text-align: left;

    border: solid 1px;
    border-color: #8B7969;
}

.contacts-table__header-name {
    width: 18%;
    padding-left: 25px;
}

.contacts-table__header-gender {
    width: 100px;
}

.contacts-table__header-email {
    width: 41%;
}

.contacts-table__header-category {
    width: 41%;
}

.contacts-table__header-button {
    width: 100px;
}

.contacts-table__row-item {
    height: 73px;
    border: solid 1px;
    border-color: #8B7969;
}

.contacts-table__row-item--input {
    width: 76px;
    height: 39px;
    background: #f4f4f4;
    border: solid;
    border-color: #d9c6b5;
    border-width: 1px;

    color: #d9c6b5;
    font-size: 18px;

    cursor: pointer;
}

.contacts-table__row-item--name {
    padding-left: 25px;
}

.contacts-table__row-item--detail {
    padding-right: 25px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: translate(50%, -50%);
}

.modal-wrapper {
    position: relative;
    width: 80%;
    max-width: 500px;
    max-height: 70%;
    padding: 20px;
    margin: auto;
    overflow: scroll;
    background-color: #FEFEFE;
    border-radius: 5px;
}

.modal-content h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}
