/*-------------------------------------
    全体
-------------------------------------*/
body {
    color: #8b7969;
    background: #f1ece7;
    font-family: 'Inika';
}

/*-------------------------------------
    ヘッダ
-------------------------------------*/
.header {
    width: 100%;
    height: 100px;
    background: #fff;
    border-top: 1px solid #000000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;

    border-bottom: solid;
    border-width: 1px;
    border-color: #e0dfde;
}

.header__logo {
    font-size: 40px;
    text-align: center;
}

.header-nav {
    position: absolute;
    right: 100px;
    top: 33%;
}

.header-nav__button, .header-nav__text {
    width: 100px;
    height: 34px;
    display: inline-block;
    background: #f0f0f0;

    border: solid;
    border-width: 1px;
    border-color: #d9c6b5;

    color: #d9c6b5;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
}

/*-------------------------------------
    メイン
-------------------------------------*/
.main {
    margin: auto;
    background: #F1ECE7;
}

.main__title {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    font-size: 35px;
}
