* {
    color: #8b7969;
    font-family: 'Inika';
}

.header {
    width: 100%;
    height: 100px;
    background: #fff;
    border-top: 1px solid #000000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
	
    border-bottom: solid;
    border-width: 1px;
    border-color: #e0dfde;
}

.header__logo {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.main {
    margin: auto;
    background: #fff;
    max-width: 1512px;
}

.main__title {

    text-align: center;
    font-weight: 400;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}
