.login__content {
    max-width: 736px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;

    border-radius: 10px;
    border-color: #c5b9b0;
    border-width: 1px;
}

.form-group {
    max-width: 445px;
    margin: 30px auto 30px;
}

.form-group__title--item {
    font-size: 25px;
    color: #8b7969;
}

.form-group__input--text {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    border: none;
    padding-left: 20px;

    background: #f4f4f4;

    font-size: 14px;
    color: #beb1a6;
}

.form-group__error {
    min-height: 24px;
    font-size: 14px;
    color: red;
}

.form-group__button {
    display: flex;
    justify-content: center;
}

.form-group__button--submit {
    width: auto;
    height: auto;
    padding: 10px 40px;

    background: #82756a;
    border: none;
    ;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;

    cursor: pointer;
}
